{
  "language": "en",
  "debug": false,
  "demoMode": false,
  "symbol": "BTC/JPY",
  "priceMergeSize": 0.001,
  "maxSize": 0.3,
  "minSize": 0.0001,
  "minTargetProfit": 1,
  "minExitTargetProfit": 20,
  "minExitTargetProfitPercent": 0.1,
  "minTargetProfitPercent": 0.03,
  "exitNetProfitRatio": 20,
  "maxTargetProfit": 1000,
  "maxTargetVolumePercent": 100,
  "iterationInterval": 1500,
  "positionRefreshInterval": 5000,
  "sleepAfterSend": 5000,
  "maxNetExposure": 1,
  "maxRetryCount": 10,
  "orderStatusCheckInterval": 3000,
  "stabilityTracker": {
    "threshold": 8,
    "recoveryInterval": 300000
  },
  "onSingleLeg": {
    "action": "Reverse",
    "actionOnExit": "Proceed",
    "options": {
      "limitMovePercent": 5,
      "ttl": 3000
    }
  },
  "analytics": {
    "enabled": false,
    "plugin": "SimpleSpreadStatHandler.js",
    "initialHistory": { "minutes": 30 }
  },
  "webGateway": {
    "enabled": false,
    "host": "127.0.0.1",
    "openBrowser": true
  },
  "brokers": [
    {
      "broker": "Bitflyer",
      "enabled": true,
      "maxLongPosition": 0.3,
      "maxShortPosition": 0.3,
      "cashMarginType": "Cash",
      "commissionPercent": 0,
      "noTradePeriods": [["04:00", "04:15"]]
    },
    {
      "broker": "Coincheck",
      "enabled": true,
      "maxLongPosition": 0.3,
      "maxShortPosition": 0.3,
      "cashMarginType": "Cash",
      "commissionPercent": 0
    },
    {
      "broker": "Bitbank",
      "enabled": true,
      "maxLongPosition": 0.3,
      "maxShortPosition": 0.3,
      "cashMarginType": "Cash",
      "commissionPercent": 0
    },
    {
      "broker": "Btcbox",
      "enabled": true,
      "maxLongPosition": 0.3,
      "maxShortPosition": 0.3,
      "cashMarginType": "Cash",
      "commissionPercent": 0
    },
    {
      "broker": "Zaif",
      "enabled": true,
      "maxLongPosition": 0.3,
      "maxShortPosition": 0.3,
      "cashMarginType": "Cash",
      "commissionPercent": 0
    }
  ],
  "logging": {
    "slack": {
      "enabled": false,
      "channel": "#ch1",
      "username": "abc",
      "keywords": ["error", "profit"]
    },
    "line": {
      "enabled": false,
      "keywords": ["error", "profit"]
    }
  }
}
